{% extends "/mobile/index.html" %}
  
{% block content %}
<br>
<h1>About the Artist</h1>
<div class="contact">
	<p>Who am I? My name is Andrea and I am an artoholic; I have a virus also known as creafilia, artisonism, crearrhoea, artyfilis, or Gilles de la Cre&euml;tte. This life altering condition is long known and first discovered by the ancient Greeks. It is characterized by an unrelenting drive to create. Any useless object is taken apart and used to create something else. All things are remembered for maybe someday I will need to use it. I keep every picture so that I can paint it. I drool over colors and shiny things because I want to use them. Any article is inspected to see how it is made so that I can copy it. Sleep is severely disrupted by brainfarts (ideas that come up in the mind suddenly screaming for attention) after which an immense determination to make it arises. It is an obsession, a compulsion to make things; to make the world more beautiful; to give more color to life.
	</p>
	<p>Because the house is now filled and exploding with my brainfarts (both pretty and ugly as hell, both lovely and useless like my father's collection of books that he has never read), I had the idea of bringing it to you - both unknowing artmuggles and obsessive artlovers, in the hope of transmitting this virus onto you. So that in this miserable gray depressing country, you too can find the beauty that is hidden all around us.
	</p>
	<p>
	<i>Andrea van den Berg</i>
	</p>
	<br>

</div>
{% endblock %}
