{% extends "index.html" %}
  
{% block content %}
<div class="navigation-container">
	<div id="thumbs" class="navigation">
		<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
		{% for entry in pictures %}				
		<ul class="thumbs noscript">
			<li>
				<a class="thumb" name="{{entry.name}}" href="{{ entry.imageURL }}" title="{{entry.name}}">
					<img src="{{entry.thumbURL}}" alt="{{entry.name}}" />
				</a>
				<div class="caption">
					<div class="image-title">{{entry.name}}</div>
					<div class="image-desc">{{entry.description}}</div>
					<div class="download">
						<a href="{{orgImageURL}}">Download Origineel</a>
					</div>
				</div>
			</li>
		</ul>
		{% endfor %}
		<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
	</div>
</div>
<div class="content">
	<div class="slideshow-container">
		<div id="controls" class="controls"></div>
		<div id="loading" class="loader"></div>
		<div id="slideshow" class="slideshow"></div>
	</div>
	<div id="caption" class="caption-container">
		<div class="photo-index"></div>
	</div>
</div>
{% endblock %}
